@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.react-calendar {
  border: none !important;
}

.react-calendar__tile--active {
  background: #C3EBFA !important;
  color: black !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0  20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button{
  border: none !important;
  background-color : #f1f0ff;
  margin-left: 2px;
}